@import "tailwindcss";

@theme {
  --color-ksa-green: #006837;
  --color-ksa-gold: #D4AF37;
  --color-ksa-white: #ffffff;
}

:root {
  --background: #f8fafc;
  /* Slate-50 */
  --foreground: #1e293b;
  /* Slate-800 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}